<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="sideBar">

    <div class="logo">
        LOGO
    </div>

    <div class="menu">
        <ul class="menu-ul">
            <li class="menu-li-0"> <a href="#0">Hjem</a> </li>
            <li class="menu-li-1"> <a href="#1">Lorem</a> </li>
            <li class="menu-li-2"> <a href="#2">Lorem</a> </li>
            <li class="menu-li-3"> <a href="#3">Lorem</a> </li>
            <li class="menu-li-4"> <a href="#4">Lorem</a> </li>
        </ul>
    </div>
</div>

    <div class="info info-0" id="0">
        <h1 class="hovedtekst">SlagOrd!</h1>
        <img class="backgroundImage" src="Images/background.jpeg" alt="Background">
    </div>

    <div class="info info-1" id="1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas enim lorem, condimentum vitae pretium non, elementum non ex. Morbi viverra diam porta, sodales eros sed, maximus dolor. Vivamus viverra sed enim sit amet accumsan. Ut et mauris rhoncus, viverra augue in, pretium risus. Etiam a dictum risus. Quisque egestas tempus nibh, ut cursus lectus. Curabitur ut lorem luctus, vehicula sapien commodo, gravida elit.
    </div>

    <div class="info info-2" id="2">
        Proin sollicitudin lobortis justo, sed malesuada neque pharetra et. Nullam at placerat nisl. Duis elementum, massa ut sodales laoreet, risus felis faucibus nisi, a varius ipsum ex id leo. Fusce ultricies ante faucibus odio commodo vestibulum. Phasellus sed arcu nec ante semper ornare. Etiam dignissim venenatis nunc, mattis dapibus quam eleifend sit amet. Duis et neque in arcu eleifend dignissim. Nulla interdum turpis at nibh auctor, sit amet lacinia mauris molestie. Praesent ut placerat mi.
    </div>

    <div class="info info-3" id="3">
        Ut posuere dignissim augue ut convallis. Donec quis ante ullamcorper magna venenatis mattis a quis metus. Vivamus tincidunt finibus dui egestas consequat. Maecenas pretium mattis tortor at gravida. Quisque interdum vestibulum eleifend. Vestibulum vestibulum viverra lacinia. Maecenas ultricies dui in felis accumsan faucibus. Sed rhoncus sodales orci, vitae facilisis libero condimentum sit amet.
    </div>

    <div class="info info-4" id="4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque mattis lorem, non varius nulla porta eu. Vivamus eget hendrerit libero, quis scelerisque urna. Mauris semper, ipsum in gravida auctor, felis ex fringilla risus, vel congue velit urna eget dolor. Nunc neque sem, tempor ac ullamcorper eget, posuere eu quam. Nam posuere non dolor a ornare. Ut interdum porta odio, eu posuere nisl facilisis et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent sagittis egestas nisi, in commodo sapien tempus vel. Integer sed sem nisl. Suspendisse scelerisque sapien in pretium lobortis. Morbi turpis ante, eleifend eu vehicula eu, fringilla ut neque. Phasellus dictum ut nisl ut mollis. Nam hendrerit, enim quis dictum porta, purus nulla pretium orci, sit amet malesuada mauris elit vitae nunc. Maecenas a dolor nunc.
    </div>
</body>
</html>