html {
    scroll-behavior: smooth; /*scroller smooth når knapp trykkes og ikke hopper*/
}
/*---------------------------------------------------------------------------------------*/
body {
    margin: 0; /*Dekke hele siden*/
    font-family: "Arial", serif;
}
/*---------------------------------------------------------------------------------------*/
.sideBar {
    background-color: rgb(254,254,254);
    width: 20vw;
    height: 100%;
    position: fixed;
    z-index: 1;
}
/*---------------------------------------------------------------------------------------*/
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2vh;
        height: 32vh;
        width: 26vh;
    }
/*---------------------------------------------------------------------------------------*/
            /*Disse klassen tilordnes i javascript når brukeren scroller*/
            .sideBarCollapse {
                width: 7vw;
                box-shadow: 7px 0 15px -2px rgb(75,13,128);
            }
            .logoCollapse {
                height: 12vh;
                width: 9vh;
            }
/*---------------------------------------------------------------------------------------*/
    .slagOrd {
        font-weight: bold;
        font-size: 2vw;
        display: flex;
        justify-content: center;
        font-family: "Arial Black", serif;
        color: indigo;
    }
/*---------------------------------------------------------------------------------------*/
/*SIDEBAR-MENY*/
.infoMeny {
    list-style-type: none;
    position: fixed;
    bottom: 0;
}
    .infoMenyPunkt a {
        text-decoration: none;
        color: indigo;
        line-height: 7vh;
        letter-spacing: 1.2px;
        font-weight: bolder;
        font-size: 3vh;
        justify-content: space-evenly;
    }
/*forstørrer skriften menyen når musa er over*/
        .infoMenyPunkt a:hover {
            transform: scale(1.3);
            transition: transform 0.01s;
        }
            /*de første mer informative punktene*/
                .ulMeny3punk1 {
                    font-size: 2.4vh;
                    padding-bottom: 3vh;
                }
/*---------------------------------------------------------------------------------------*/
/*Hele siden med de tre hovedsidene*/
.innholdSide {
    width: 300vw;
    height: auto;
    display: flex;
    flex-direction: row;
}
/*---------------------------------------------------------------------------------------*/
div[class^="sideSlide"] { /*Velger alle div-klassene som starter med sideSlide*/
    width: 100vw;
    height: 100vh;
}
/*---------------------------------------------------------------------------------------*/
        /*Første hovedside*/
            .sideSlide1 {
                background-color: rgb(176, 211, 238);
            }
        /*bakgrunnsbilde*/
                .img1 {
                    height: 100vh;
                    width: 100vw;
                    opacity: 0.4;
                }
        /*DIV-elemente med skriften på hovedsiden*/
                .hovedskrift {
                    left: 30vw;
                    position: absolute;
                    top: 10vh;
                    font-family: Arial, serif;
                    color: indigo;

                }
            /*Skriften som skal være større*/
                    .span {
                        font-weight: bolder;
                        font-size: 10vh;
                        letter-spacing: .2vh;
                    }
                /*skriften som varierer ord*/
                        .dynamicOrd {
                            display: inline;
                            -webkit-animation: fadeIn ease 3s infinite;
                        }
                        @-webkit-keyframes fadeIn {
                            0% {
                                opacity:0;
                            }
                            10% {
                                opacity: .2;
                            }
                            20% {
                                opacity: .4;
                            }
                            30% {
                                opacity: .6;
                            }
                            40% {
                                opacity: 8;
                            }
                            50% {
                                opacity: 1;
                            }
                            60% {
                                opacity: .8;
                            }
                            70% {
                                opacity: .6;
                            }
                            80% {
                                opacity: .4;
                            }
                            90% {
                                opacity: .2;
                            }
                            100% {
                                opacity:0;
                            }}
        /*DEGREE dropdown div*/
        .degreeDrop {
            display: block;
            padding: 16px 8px;
            border-bottom: 3px solid indigo;
            position: absolute;
            left: 30vw;
            top: 50vh;
            cursor: pointer;
            color: indigo;
            font-weight: bold;
        }
        /*dropdown pilen*/
            .degree-pil {
                float: right;
                margin-left: 10px;
            }
        /*Dropdown div studier*/
                .theDegreesDropdown {
                    text-decoration: none;
                    position: absolute;
                    left: 30vw;
                    top: 57vh;
                    text-align: center;
                    width: 37.6vh;
                    height: 43vh;
                    color: white;
                    z-index: 1;
                    overflow: auto;
                    cursor: pointer;
                }
                /*Dropdown alle studiene*/
                    .theDegrees {
                        padding: 10px;
                        display: block;
                        background: indigo;
                        opacity: .7;
                    }
                        .theDegrees:hover {
                            transform: scale(1.3);
                            transition: transform 0.1s;
                            opacity: 1;
                        }
/*---------------------------------------------------------------------------------------*/
        /*DIV-elementene rundt pilene. Kunne ikke gjøre alle sammen, da de ble liggende oppå hverandre og ikke ved riktig sted*/
                .arrowRight {
                    width: 7vw;
                    height: 10vh;
                    background-color: white;
                    opacity: 0.5;
                    position: absolute;
                    right: 0;
                    top: 42vh;
                    cursor: pointer;
                    z-index: 1;
                }
                .arrowRight1 {
                    width: 7vw;
                    height: 10vh;
                    background-color: white;
                    opacity: 0.5;
                    position: absolute;
                    left: 193vw;
                    top: 42vh;
                    cursor: pointer;
                    z-index: 1;
                }
                .arrowLeft {
                    width: 7vw;
                    height: 10vh;
                    background-color: white;
                    opacity: 0.5;
                    position: absolute;
                    left: 193vw;
                    top: 52vh;
                    cursor: pointer;
                    z-index: 1;
                }
                .arrowLeft1 {
                    width: 7vw;
                    height: 10vh;
                    background-color: white;
                    opacity: 0.5;
                    position: absolute;
                    left: 293vw;
                    top: 52vh;
                    cursor: pointer;
                    z-index: 1;
                }
        /*Pil-ikonene*/
                    i[class^="slide "]{
                        position: absolute;
                        margin-top: 3.8vh;
                        margin-left: 3vw;
                        font-size: 4vh;
                        color: indigo;
                    }
/*---------------------------------------------------------------------------------------*/
        /*Hele nedre info-meny*/
                .nedreMeny {
                    margin-left: 20vw;
                    width: 80vw;
                    height: 21vh;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    z-index: 0;
                    bottom: 0;
                    text-align: center;
                }
/*---------------------------------------------------------------------------------------*/
        /*Venstre nedre info-meny*/
                    .nedreMenyInfo1 {
                        background-color: rgb(248, 248, 248);
                        width: 40vw;
                        color: rgb(68, 58, 54);
                    }
        /*Overskrift announcements*/
                        .info1Overskrift {
                           position: relative;
                            top: 7px;
                        }
        /*Container som inneholder all informativ tekst*/
                        .infoSlideShow{
                            position: relative;
                        }
        /*de to info-skrivene nede til venstre*/
                        .slide1 , .slide2 {
                            float: left;
                            margin-top: 4vh;
                            margin-left: 1vw;
                            position: relative;
                        }
        /*PIL til høyre og venstre*/
                            i[class^="infoPil"]{
                                font-weight: bolder;
                                cursor: pointer;
                                float: right;
                                margin-top: 7vh;
                                height: 3vh;
                                width: 3vw;
                                padding: 5px;
                                background-color: rgb(54, 54, 60);
                                color: white;
                            }
        /*Begge pilene kommer "ut" når man har pil over hver enkelt*/
                        i[class^="infoPil"]:hover {
                            transform: scale(1.2);
                            transition: transform 0.1s;
                        }
/*---------------------------------------------------------------------------------------*/
        /*Midtre infomeny*/
                    .nedreMenyInfo2 {
                        background-color: rgb(160, 198, 98);
                        width: 18vw;
                    }

/*---------------------------------------------------------------------------------------*/
        /*Høyre infomeny*/
                    .nedreMenyInfo3 {
                        background-color: rgb(168, 18, 44);
                        width: 40vw;
                    }
        /*Overskrift infomeny nede til høyre*/
                        .info3Overskrift {
                            position: relative;
                            top: 7px;
                            color: white;
                            font-weight: bolder;
                        }
        /*de to tekst-divene nede til høyre*/
                            .slide3, .slide4 {
                                float: left;
                                margin-top: 4vh;
                                margin-left: 1vw;
                                color: white;
                                position: relative;
                            }
        /*PIL til høyre og venstre*/
                            i[class^="pilInfo"]{
                                font-weight: bolder;
                                cursor: pointer;
                                float: right;
                                margin-top: 7vh;
                                height: 3vh;
                                width: 3vw;
                                padding: 5px;
                                color: white;
                            }
        /*Begge pilene kommer "ut" når man har pil over hver enkelt*/
                            i[class^="pilInfo"]:hover {
                                transform: scale(1.5);
                                transition: transform 0.1s;
                            }
/*---------------------------------------------------------------------------------------*/
/*Midtre hovedside*/
    .sideSlide2 {
        display: flex;
    }
/*---------------------------------------------------------------------------------------*/
/*Venstre DIV med tittel*/
    .sideOverskrift {
        width: 30vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    /*Egen container for å kunne stå sidelengs*/
        .sideOverskriftContainer {
            color: rgb(75, 12, 128);
            height: 15vw;
            width: 100vh;
            position: absolute;
            transform: rotate(-90deg);
            top: 32vh;
            left: 90vw;
        }
        /*FIND YOUR FIT*/
            .hovedSideOverskrift {
                font-weight: bold;
                font-size: 70px;
                text-transform: uppercase;
            }
            /*Explore our degrees*/
                .underSideOverskrift{
                    font-size: 40px;
                    font-weight: lighter;
                }
/*---------------------------------------------------------------------------------------*/
/*Midtre DIV med info-cards*/
    .degreeFlipDiv {
        width: 40vw;
        height: 100vh;
    }
    /*DIV for å sortere cards*/
        .degreeCards {
            display: grid;
            grid-template-columns: 20vw 20vw;
            height: 100vh;
        }
            .cards {
                width: 20vw;
                height: 33vh;
                text-align: center;
                border: 1px black;
                text-transform: uppercase;
                color: indigo;
                font-size: 4vh;
            }
            /*Sørger for at de kortene har forskjellig farger*/
                div[class^="cards1"] {
                    background: rgb(248, 248, 248);
                }
                div[class^="cards2"] {
                    background: lightgrey /*rgb(240, 240, 240)*/;
                }
                /*ikoner og skrift*/
                i[class^="cards"]{
                    padding-top: 5px;
                    size: auto;

                }

/*ATTRIBUTTER TIL FORSIDE OG BAKSIDE TIL KORTENE*/
.cards1, .cards2, .baksideFlip1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
    .baksideFlip1 {
    background-color: indigo;
    opacity: .5;
    color: white;
    transform: rotateY(180deg);
    letter-spacing: 1px;
    line-height: 3.8vh;
}
        .overskriftFlipCard {
    font-weight: bolder;
    font-size: 4vh;
}
/*BUSINESS AND INNOVATION*/
                .flipCard1 {
                    background-color: transparent;
                    width: 20vw;
                    height: 33vh;
                    border: 1px solid #f1f1f1;
                    perspective: 1000px;
                }
                    .flipCardInner1 {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                    }
                        .flipCard1:hover .flipCardInner1 {
                            transform: rotateY(180deg);
                        }
/*CREATION AND SIMULATION*/
                    .flipCard2 {
                        background-color: transparent;
                        width: 20vw;
                        height: 33vh;
                        border: 1px solid #f1f1f1;
                        /*perspective: 1000px;*/
                    }
                        .flipCardInner2 {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;
                        }
                            .flipCard2:hover .flipCardInner2 {
                                transform: rotateY(180deg);
                            }
/*CYBER SECURITY*/
                    .flipCard3 {
                        background-color: transparent;
                        width: 20vw;
                        height: 33vh;
                        border: 1px solid #f1f1f1;
                        perspective: 1000px;
                    }
                        .flipCardInner3 {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;
                        }
                            .flipCard3:hover .flipCardInner3 {
                            transform: rotateY(180deg);
                        }
/*DIGITAL ARTS*/
                    .flipCard4 {
                        background-color: transparent;
                        width: 20vw;
                        height: 33vh;
                        border: 1px solid #f1f1f1;
                        perspective: 1000px;
                    }
                        .flipCardInner4 {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;
                        }
                            .flipCard4:hover .flipCardInner4 {
                            transform: rotateY(180deg);
                        }
/*GAME STUDIES*/
                    .flipCard5 {
                        background-color: transparent;
                        width: 20vw;
                        height: 33vh;
                        border: 1px solid #f1f1f1;
                        perspective: 1000px;
                    }
                        .flipCardInner5 {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                    }
                            .flipCard5:hover .flipCardInner5 {
                        transform: rotateY(180deg);
                    }
/*SOFTWARE ENGINEERING*/
                    .flipCard6 {
                        background-color: transparent;
                        width: 20vw;
                        height: 33vh;
                        border: 1px solid #f1f1f1;
                        perspective: 1000px;
                    }
                        .flipCardInner6 {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: transform 0.8s;
                        transform-style: preserve-3d;
                    }
                            .flipCard6:hover .flipCardInner6 {
                        transform: rotateY(180deg);
                    }
/*---------------------------------------------------------------------------------------*/
/*Høyre DIV med bildet*/
    .slide2sideBildet {
        width: 30vw;
        height: 100vh;
        background-color: indigo;
    }
        /*Bilde side 2 til høyre*/
        .slide2pic {
            height: 100%;
            width: 100%;
            opacity: 0.6;
        }

/*---------------------------------------------------------------------------------------*/
    /*Høyre hovedside*/
        .sideSlide3 {
            background-color: rgb(255, 255, 255);
        }
/*---------------------------------------------------------------------------------------*/
    /*SLAGORD SISTE SLIDE*/
            .slagOrdSlide3 {
                margin-left: 12vw;
                margin-top: 13vh;
                color: indigo;
            }
                .shapeTomo {
                    font-size: 4vh;
                }
                .changeToday {
                    font-weight: bolder;
                    font-size: 6vw;
                    text-transform: uppercase;
                }
    /*BILDEMENY med info*/
        .bildeMenyInfo {
            margin-left: 12vw;
            margin-top: 13vh;
            height: 40vh;
            width: 60vw;
            display: grid;
            grid-template-columns: 20vw 20vw 20vw;
        }

    /*infoSkriften over bildene*/
           span[class^="infoOverBilde"]{
               background-color: #f1f1f1;
               opacity: .6;
               color: indigo;
               position: absolute;
               z-index: 1;
               margin-top: 8vh;
               height: 8vh;
               width: 20vw;
               text-align: center;
               padding-top: 3.4vh;
            }
    /*Bildene*/
           .bildeInfo1 {
               background-image: url("Images/bildeMeny.jpg");
               background-size: cover;
           }
           .bildeInfo2 {
               background-image: url("Images/bildeMeny1.jpg");
               background-size: cover;
           }
            .bildeInfo3 {
                background-image: url("Images/bildeMeny2.jpg");
                background-size: cover;
            }
            .bildeInfo4 {
                background-image: url("Images/bildeMeny3.jpg");
                background-size: cover;
            }
            .bildeInfo5 {
                background-image: url("Images/bildeMeny4.jpg");
                background-size: cover;
            }
            .bildeInfo6 {
                background-image: url("Images/bildeMeny5.jpg");
                background-size: cover;
            }
/*---------------------------------------------------------------------------------------*/
/*FOLLOW US PIL*/
    .followUs {
        transform: rotate(-90deg);
        position: absolute;
        font-size: 3vh;
        font-weight: bolder;
        color: indigo;
        height: 10vh;
        width: 10vw;
        margin-top: 46vh;
        margin-left: 70.5vw;
    }

    .sosialeMedier {
        flex-direction: column;
        width: 4vw;
        height: 100vh;
        position: absolute;
        margin-top: 0;
        margin-left: 78vw;
        color: indigo;
        font-size: 5vh;
    }
        i[class^="sosMed"]{
            margin-top: 8vh;
            cursor: pointer;
        }
            i[class^="sosMed"]:hover {
                color: #f1f1f1;
                background-color: indigo;
                border-radius: 30%;
                transform: scale(1.3);
                transition: transform 0.01s;
            }
/*---------------------------------------------------------------------------------------*/

/*Side meny slide3*/
/*Sørger for å dekke hele siste side*/
.slide3MenyContainer {
    position: absolute;
    top: 0;
    left: 200vw;
    height: 100%;
    width: 100%;
}
    .slide3Meny {
        background-color: rgb(240, 240, 240);
        position: absolute;
        margin-left: 82vw;
        margin-top: 0;
        width: 18vw;
        height: 100vh;
    }

    /*LOGO*/
        .slide3menyLogo {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 20vh;
            width: 9vw;
            padding: 2vh;
        }

        /*MENY*/
            .ulMeny3 {
                list-style-type: none;
                color: indigo;
                text-transform: uppercase;
                font-weight: bolder;
                line-height: 5vh;
                cursor: pointer;
            }
                .slide3menyPunkt:hover {
                    transform: scale(1.1);
                    transition: transform 0.03s;
                }
/*skriv nederst på sidemenyen*/
                    .slide3menyBunn {
                        font-weight: lighter;
                        font-size: 1vh;
                        bottom: 1px;
                    }