html {
    scroll-behavior: smooth; /*scroller smooth når kanpp trykkes og ikke hopper*/
}
body {
    margin: 0; /*Dekke hele siden*/
}

.sideBar {
    background-color: rgb(254,254,254);
    width: 20vw;
    height: 100%;
    position: fixed;
    z-index: 1;
}

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 2vh;
        height: 32vh;
        width: 26vh;
    }
            /*Disse klassen tilordnes i javascript når brukeren scroller*/
            .sideBarCollapse {
                width: 7vw;
            }
            .logoCollapse {
                height: 12vh;
                width: 9vh;
            }
    .slagOrd {
        font-weight: bold;
        font-size: 2vw;
        display: flex;
        justify-content: center;
        font-family: "Arial Black";
    }

/*SIDEBAR-MENY*/
.infoMeny {
    list-style-type: none;
    position: fixed;
    bottom: 0;
}
    .infoMenyPunkt a {
        text-decoration: none;
        color: black;
        padding: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 3vh;
        justify-content: space-evenly;
    }

.innholdSide {
    width: 300vw;
    height: auto;
    display: flex;
    flex-direction: row;
}

div[class^="sideSlide"] { /*Velger alle div-klassene som starter med sideSlide*/
    width: 100vw;
    height: 100vh;
}

    .sideSlide1 {
        background-color: rgb(177, 214, 241);
    }
/*DIV-elementene rundt pilene. Kunne ikke gjøre alle sammen, da de ble liggende oppå hverandre og ikke ved riktig sted*/
        .arrowRight {
            width: 7vw;
            height: 10vh;
            background-color: white;
            opacity: 0.5;
            position: absolute;
            right: 0;
            top: 42vh;
            cursor: pointer;
        }
        .arrowRight1 {
            width: 7vw;
            height: 10vh;
            background-color: white;
            opacity: 0.5;
            position: absolute;
            left: 193vw;
            top: 42vh;
            cursor: pointer;
        }
        .arrowLeft {
            width: 7vw;
            height: 10vh;
            background-color: white;
            opacity: 0.5;
            position: absolute;
            left: 193vw;
            top: 52vh;
            cursor: pointer;
        }
        .arrowLeft1 {
            width: 7vw;
            height: 10vh;
            background-color: white;
            opacity: 0.5;
            position: absolute;
            left: 293vw;
            top: 52vh;
            cursor: pointer;
        }
/*Pil-ikonene*/
            i[class^="slide "]{
                position: absolute;
                margin-top: 3.8vh;
                margin-left: 3vw;

            }
/*Hele nedre info-meny*/
        .nedreMeny {
            margin-left: 20vw;
            width: 80vw;
            height: 21vh;
            display: flex;
            flex-direction: row;
            position: absolute;
            z-index: 0;
            bottom: 0;
            text-align: center;
        }
/*Venstre infomeny*/
            .nedreMenyInfo1 {
                background-color: rgb(248, 248, 248);
                width: 40vw;
            }
/*Overskrift announcements*/
                .info1Overskrift {
                    font-weight: bolder;
                    font-family: "Arial Black";
                    top: 10px;
                }
/*Container som inneholder all informativ tekst*/
                .infoSlideShow{
                    position: relative;
                }
/*selve slidene med teksen*/
                .slide1 {
                    display: block;
                }
/*skjuler info-slide nr 2*/
                .slide2 {
                    display: none;
                }
/*Midtre infomeny*/
            .nedreMenyInfo2 {
                background-color: rgb(160, 198, 98);
                width: 18vw;
            }
/*Høyre infomeny*/
            .nedreMenyInfo3 {
                background-color: rgb(168, 18, 44);
                width: 40vw;
            }
/*Midtre hovedside*/
    .sideSlide2 {
        background-color: darkgoldenrod;
    }
/*Høyre hovedside*/
    .sideSlide3 {
        background-color: lime;
    }